//FIXED COLORS
$primary: #0079FF
$primary-disabled: #60ABFF

//LIGHT MODE COLORS
$label__light: #697C9A
$text__light: #4B6A9B
$toggle__light: #4B6A9B
$toggle__light_hover: #222731
$heading__light: #2B3442
$primary-bg__light: #F6F8FF
$secondary-bg__light: #FEFEFE

//DARK MODE COLORS
$label__dark: #ffffff
$text__dark: #ffffff
$toggle__dark: #FFFFFF
$toggle__dark_hover: #90A4D4
$heading__dark: #ffffff
$primary-bg__dark: #1E2A47
$secondary-bg__dark: #141D2F

//INTERACTIVE COLOR
$error: #F74646

//SHADOW
$shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567)