@import '../../styles/variables'

.content
    display: flex
    align-items: flex-start
    background-color: var(--secondaryBgColor)
    padding: 2rem
    border-radius: 15px
    box-shadow: $shadow

.aside__avatar
    max-width: 7rem
    margin-right: 2rem
    border-radius: 50%
    
.section-profil
  width: 100%
  & > div
     margin-bottom: 2.3rem

  & > div:first-child
    margin-bottom: 1.2rem
    
  & > div:last-child
    margin-bottom: 0   

.section-profil__identity
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: top
    flex-wrap: wrap

    & h1
        margin-right: 0.9rem

    & .section-profil__identity__id
        color: $primary

.section-profil__datas
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    background-color: var(--primaryBgColor)
    border-radius: 10px
    padding: 1rem 0 1rem 0

.section-profil__datas__number
    color: var(--headingColor)

.section-profil__infomations
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr))
    word-break: break-all
    
    & > *
        display: flex

.section-profil__infomations_disabled
    opacity: 50%
    pointer-events: none
    text-decoration: none

.section-profil__infomations_location::before
    content: url('../../assets/icon-location.svg')
    margin-right: .5em

.section-profil__infomations_twitter::before
    content: url('../../assets/icon-twitter.svg')
    margin-right: .5em

.section-profil__infomations_website::before
    content: url('../../assets/icon-website.svg')
    margin-right: .5em

.section-profil__infomations_company::before
    content: url('../../assets/icon-company.svg')
    margin-right: .5em