<div class="content">
    <aside>
        <img class="aside__avatar" src={{profilData.avatar_url}} alt="">
    </aside>
    <section class="section-profil">
        <div class="section-profil__identity">
            <div>
                <h1>{{profilData.login}}</h1>
                <p class="section-profil__identity__id">@{{profilData.login | lowercase}}</p>
            </div>
            <div>
                <p class="section-profil__identity__join">Joined {{profilData.created_at | date: 'd MMM y'}}</p>
            </div>
        </div>
        
        <div class="section-profil__description">
            <p>{{profilData.bio || "This profile has no bio"}}</p>
        </div>
        <div class="section-profil__datas">
            <div>
                <h4>Repos</h4>
                <p class="section-profil__datas__number font-style__h1">{{profilData.public_repos}}</p>
            </div>
            <div>
                <h4>Followers</h4>
                <p class="section-profil__datas__number font-style__h1">{{profilData.followers}}</p>
            </div>
            <div>
                <h4>Following</h4>
                <p class="section-profil__datas__number font-style__h1">{{profilData.following}}</p>
            </div>
        </div>
        <div class="section-profil__infomations">
            <div>
                <img class="icon" src="../../assets/icon-location.svg" alt="Icone de localisation">
                <p>{{profilData.location | titlecase}}</p>
            </div>
            <div>
                <img class="icon" src="../../assets/icon-website.svg" alt="Icone de site">
                <p>{{profilData.blog || "This profile has no blog"}}</p>
            </div>
            <div>
                <img class="icon" src="../../assets/icon-company.svg" alt="Icone d'immeuble">
                <p>{{profilData.hireable}}</p>
            </div>
            <div>
                <img class="icon" src="../../assets/icon-twitter.svg" alt="Icone de twitter">
                <p>{{profilData.twitter_username}}</p>
            </div>
        </div>
    </section>
</div>