<div class="content" *ngIf="profilDataResp">

    <section id="profil">
        <div class="profil__avatar">
            <img class="profil__avatar__img" src={{profilDataResp.avatar_url}} alt="">
        </div>
        <div class="profil__identity">
            <div>
                <h1>{{profilDataResp.name}}</h1>
                <p class="profil__identity__id">@{{profilDataResp.login | lowercase}}</p>
            </div>
            <div>
                <p class="profil__identity__join">Joined {{profilDataResp.created_at | date: 'd MMM y'}}</p>
            </div>
        </div>
        <div class="profil__description">
            <p>{{profilDataResp.bio || "This profile has no bio"}}</p>
        </div>
        <div class="profil__details">
            <div class="profil__datas">
                <div>
                    <h4>Repos</h4>
                    <p class="profil__datas__number font-style__h1">{{profilDataResp.public_repos}}</p>
                </div>
                <div>
                    <h4>Followers</h4>
                    <p class="profil__datas__number font-style__h1">{{profilDataResp.followers}}</p>
                </div>
                <div>
                    <h4>Following</h4>
                    <p class="profil__datas__number font-style__h1">{{profilDataResp.following}}</p>
                </div>
            </div>
            <div class="profil__infomations">
                    <p class="profil__infomations_location" [ngClass]="{'profil__infomations_disabled': !profilDataResp.location,'': true}">{{profilDataResp.location || "Not available" | titlecase}}</p>
                    <p class="profil__infomations_twitter" [ngClass]="{'profil__infomations_disabled': !profilDataResp.twitter_username,'': true}">{{profilDataResp.twitter_username || "Not available" | titlecase}}</p>
                    <a class="profil__infomations_website" [ngClass]="{'profil__infomations_disabled': !profilDataResp.blog,'': true}" href="https://{{profilDataResp.blog}}" target="_blank">{{profilDataResp.blog || "Not available"}}</a>
                    <p class="profil__infomations_company" [ngClass]="{'profil__infomations_disabled': !profilDataResp.company,'': true}">{{profilDataResp.company || "Not available" | titlecase}}</p>
            </div>
        </div>
    </section>
</div>