@import '../../styles/variables'

.content
    display: flex
    align-items: flex-start
    background-color: $container-background__light
    padding: 2rem
    border-radius: 15px
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567)

.aside__avatar
    max-width: 7rem
    margin-right: 2rem
    border-radius: 50%
    
.section-profil
  width: 100%
  & > div
     margin-bottom: 2.3rem

  & > div:first-child
    margin-bottom: 1.2rem
    
  & > div:last-child
    margin-bottom: 0   

.section-profil__identity
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: top
    flex-wrap: wrap

    & h1
        margin-right: 0.9rem

    & .section-profil__identity__id
        color: $primary

.section-profil__datas
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    background-color: $background__light
    border-radius: 10px
    padding: 1rem 0 1rem 0

.section-profil__datas__number
    color: $heading__light

.section-profil__infomations
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr))
    
    & > div
        display: flex
        flex-direction: row
        flex: 1 1 80px
        
